@import "tailwindcss";

@theme {
  --color-terracota: #C1440E;
  --color-arena: #F5ECD7;
  --color-cafe: #3B2314;
  --color-olivo: #7A8450;
  --color-fondo: #FAFAF7;
  --font-heading: 'Lora', serif;
  --font-body: 'Source Sans 3', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-fondo);
  color: var(--color-cafe);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
